body {
  background-color: #70c5ce;
  background-image: url("flappybirdbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#board {
  border: 2px solid black;
  background-color: lightgreen;
}
